MONGO_URI=mongodb+srv://<tarushichaudhary_db_user@admin>:<tarushichaudhary_db_user@admin>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=replace_with_a_secure_secret
PORT=5000
